html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    background-color: #01242d;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent vertical scrolling */
}

body {
    display: flex;
    flex-direction: column;
}

nav, footer {
    width: 100%;
}

.contact {
    background: transparent;
    padding: 2em;
    margin: 2em auto;
    width: 80%;
    max-width: 600px;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;
    box-sizing: border-box; 
    flex: 1; 
    overflow-y: auto; 
    animation: fadeIn 1.5s ease-in;
}

.contact h2 {
    text-align: center;
    margin-bottom: 1em;
    font-family: "Work Sans", sans-serif;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease;
}

.contact label {
    margin-bottom: 0.5em;
    align-self: flex-start;
}

.contact input,
.contact textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: "Work Sans", sans-serif;
    background-color: #01242d;
    width: 100%;
    box-sizing: border-box; 
}

.contact button {
    padding: 0.7em;
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
    cursor: pointer;
}

.contact button:hover {
    background-color: rgb(50, 50, 50);
}

footer {
    text-align: center;
    background-color: #01242d;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 0.8em;
    margin-top: auto; 
    position: fixed;
    bottom: 10px; 
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .contact {
        width: 90%;
        padding: 1em;
        margin: 1em auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
